fieldset{
    height: 600px;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 221, 188, 0.623);
    border-color:  rgba(33, 110, 95, 0);
   border-radius: 20px;
   box-shadow: 5px 5px 3px 3px black;
}
legend{
    font-size: 30px;
    text-decoration-color: black;
}
.a1{
    width: 350px;
}
.l1{
    display: flex;
margin-top: 30px;
}
#s1{
    height: 50px;
    width: 350px;
}
input[type="submit"]{
    background-color: red;
    border-color: white;
    box-shadow: 4px 3px 3px white;
}